<h1>Store Name</h1>
<%= link_to 'Add a Product', new_item_path %>
    <% @items.each do |item| %>
    <div>
      <%= image_tag(item.image_url) %> <br>
      <%= item.name %> <br>
      <%= item.owner %> <br>
      <%= item.description %> <br>
      <%= item.price %> <br>
      <%= link_to "See", item %> <br>
      <% if signed_in? %>
        <%= link_to "Edit", edit_item_path(item) %>
        <%= link_to "Remove", item, method: :delete, data: { confirm: "Are you sure you want to delete this item?" } %>
      <% end %>
    </div>
    <% end %>
