<h1>Store Name</h1>

<% @categories.each do |cat| %>
  <%= link_to cat.name, cat %>
<% end %> <br>


<% if !current_user.nil? %>
  <%= link_to 'Add a Product', new_item_path %> 
  <%= link_to 'Create a New Category',new_category_path %>
<% end %> <br>

  <div>
    <% @items.each do |item| %>
      <%= image_tag(item.image_url, class: 'item-image') %> <br>
      <p class="text-lines"><%= item.name %></p>
      <p class="text-lines"><%= item.user.username %></p>
      <p class="text-lines"><%= item.description %></p>
      <p class="text-lines"><%= item.price %></p>
      <%= link_to "See", item %> <br>
    <% end %>
  </div>
