<h1>Details of the Item</h1>
<div> <%=@item.image_url %> </div>
<div><%= @item.title %></div>
<div>Autor: <%= @item.owner %></div>
<div>Descripción: <%= @item.description %></div>
<div>Fecha de publicación: <%= @item.publication_date %></div>
<div>Precio: <%= @item.price %></div>