<h1>Details of the Item</h1>
<div> <%=image_tag(@item.image_url) %> </div>
<div><%= @item.name %></div>
<div>Autor: <%= @item.owner %></div>
<div>Descripción: <%= @item.description %></div>
<div>Fecha de publicación: <%= @item.publication_date %></div>
<div>Precio: <%= @item.price %></div>